<html>
    <head>
        <title>Angular Material</title>
        <link rel="stylesheet" href="../bower_components/angular-material/angular-material.min.css"></link>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
        <script src="../bower_components/angular/angular.min.js"></script>
        <script src="../bower_components/angular-material/angular-material.min.js"></script>
        <script src="../bower_components/angular-animate/angular-animate.min.js"></script>
        <script src="../bower_components/angular-messages/angular-messages.min.js"></script>
        <script src="../bower_components/angular-aria/angular-aria.min.js"></script>
        <link href="css/style.css" rel="stylesheet"/>
        <link href=""/>
    </head>
    <body>
      <div layout="column" class="zero">
        <div flex="33" layout="row" layout-sm="column" layout-align-sm="center center" class="one">
          Flex 33 Layout Column
            <div flex="33" class="one_one">
              Flex 33 Aligned Center
            </div>
            <div flex="33" class="two_two">
                Flex 20 Aligned Center
            </div>
        </div>
        <div flex="66" class="two" layout="row">
          <div flex="33" class="two_two">Flex 33 Layout Row</div>
          <div flex="66" class="two_one">
            Flex 66 Layout Row
          </div>
        </div>
      </div>
        <!-- <div flex="33" layout="column" layout-md="row" class="two">
          <div flex="22" flex-md="10" class="two_one"></div>
          <div flex="30px" show flex-md="25" class="two_two">
          </div>
          <div flex="20" flex-md="65" class="two_three">
          </div>
        </div> -->
      </div>
    </body>
</html>
