.one {
  background-color: #EF233c;
  color: whitesmoke;
  text-align: center;
}

.two {
  background-color: blue;
  color: whitesmoke;
  text-align: center;
}

.two_one {
  background-color: #0B1917;
  color: whitesmoke;
  text-align: center;
}

.two_two {
  background-color: #3c213a;
  color: whitesmoke;
  text-align: center;
}

.two_three {
  background-color: yellow;
  color: whitesmoke;
  text-align: center;
}

.one_one {
  background-color: #35012c;   
  color: whitesmoke;
  text-align: center;
}
